# Ravelry API Credentials
API_USERNAME=your_personal_access_username
API_KEY=your_personal_access_password
RAVELRY_USERNAME=YourRavelryUsername

# Local dev/docker environment variables
SQLITE_DB_PATH=/app/data/stash.db
REDIS_URL=redis://cache:6379/0
