# Ravelry API Credentials
API_USERNAME=your_personal_access_username
API_KEY=your_personal_access_password
USERNAME=YourRavelryUsername

# Local dev/docker environment variables
DATABASE_URL=postgresql://stashuser:stashpassword@db:5432/stashstats
REDIS_URL=redis://cache:6379/0
